{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<body>
    <h1>Wszystkie wgrane zdjęcia</h1>
    
    <a href="/upload">Dodaj kolejne zdjęcie</a>
    <hr>

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for photo in photos %}
            <div>
                <img src="{{ photo.image.url }}" alt="Zdjęcie" style="max-width: 300px; border: 1px solid #ccc;">
                <p>Wgrano: {{ photo.uploaded_at|date:"d.m.Y H:i" }}</p>
            </div>
        {% empty %}
            <p>Nie ma jeszcze żadnych zdjęć w bazie.</p>
        {% endfor %}
    </div>
</body>
{% endblock %}
